<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ActivityMonitorExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>BigWinsWidget.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Honestly.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ShieldActionExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ShieldConfigurationExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>010BD875F0FD37505DCF3F63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>384903230BCFACBF98CB317F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AC9E29B82BBC6FCDFFBEDB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B907DE630ED5E4C3385E35FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3BB7B841F2D4C3C146C318D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
